__pycache__
fastsketchlsh_ext/build
fastsketchlsh_ext/*-info/
FastSketchLSH.cp311*
.vscode/
.cursor/
.venv/
.eggs/
.cursorignore
*.cpython-*
data/
exps/end2end/processed_ds/
run_bookcorpusopen.sh
*.log
*.err